* {
    margin: 0px;
    /*remove a margem e o padding padrão dos elementos*/
    padding: 0px;
    /*remove a margem e o padding padrão dos elementos*/
    box-sizing: border-box;
    /*inclui a borda e o padding na largura e altura dos elementos*/
    font-family: Arial, Helvetica, sans-serif
    /*define a fonte padrão do site*/
    
    /*cor de fundo do site*/
}

header .identificacao {
    background-color: rgb(190, 192, 186);
    text-align: right;
    /*alinha o texto à direita*/
    flex-direction: row;
    /*alinha os itens em linha*/
    margin-right: 10px;
    /*margem direita do nome do usuário*/
}

.logos {
    display: flex;
    /*deixa as logos flexíveis*/
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color:white
}

.logos p {
    margin: auto;
    font-style: initial;
}

nav {
    width: 100%;
    padding: 0%;
    margin: 0%;
    margin-top: 10px;
    background-color: rgb(197, 238, 114);
    /*cor de fundo do menu*/
    display: flex;
    /*deixa o menu flexível*/
    justify-content: space-around;
    /*distribui os itens do menu com espaçamento igual entre eles*/
    align-items: center;
    /*alinha os itens do menu ao centro verticalmente*/
}

nav ul {
    list-style: none;
    /*remove os marcadores da lista*/
    display: flex;
    /*deixa a lista flexível*/
    flex-direction: row;
    /*alinha os itens da lista em linha*/
    justify-content: space-around;
    /*distribui os itens da lista com espaçamento igual entre eles*/
    align-items: center;
    /*alinha os itens da lista ao centro verticalmente*/
    width: 100%;
    /*largura da lista*/
    border: 1px solid black;
}
nav ul li {
    margin: 10px;
    /*margem dos itens da lista*/
}
.noticia{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
}
.titulo_not{
 text-align: center;
 margin-bottom: 20px;
}
.sub_not{
 text-align: center;
 margin-bottom: 20px;
}